.canvas-card-gradient-1 {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
  }
  
  .canvas-card-gradient-2 {
    background: linear-gradient(135deg, #a3ebf6, #a7fff5);
  }
  
  .canvas-card-gradient-3 {
    background: linear-gradient(135deg, #ff9a9e, #ffe3db);
  }
  
  .canvas-card-gradient-4 {
    background: linear-gradient(135deg, #f57e71, #f5af19);
  }
  
  .canvas-card-gradient-5 {
    background: linear-gradient(135deg, #f76e6e, #e98b8b);
  }
  
  .canvas-card-gradient-6 {
    background: linear-gradient(135deg, #f5ff97, #f8c004);
  }
  
  .canvas-card-gradient-7 {
    background: linear-gradient(135deg, #53954c, #ddcc93);
  }